@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');

*,
:after,
:before {
	box-sizing: border-box;
}

body {
	font-family: "Montserrat";
	margin: 0;
}

img {
	max-width: 100%;
}

h3 {
	font-family: "Roboto Condensed";
	font-size: 1.8em;
}

.container {
	margin: 0 auto;
	padding: 20px 0;
}

.container>div {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-between;
}

.hero-section {
	border-bottom: 1px solid #ccc;
}

.left.summary {
	width: 75%;
}

.left>h2 {
	font-family: "Roboto Condensed";
	font-size: 3em;
}

.left>p {
	font-size: 1.3em;
}

.right.show-image {
	width: 25%;
}

.card {
	aspect-ratio: 2 / 3;
	border: 0.25rem solid rgb(255 255 255 / 15%);
	border-radius: 1rem;
	cursor: pointer;
	overflow: hidden;
	width: 20%;
}

.card>img {
	border-radius: inherit;
	height: 100%;
	object-fit: cover;
	width: 100%;
}

.card:hover>img {
	animation: pulse 800ms ease-in-out;
}

#tv-show-detail>div {
	display: none;
}

#tv-show-detail span {
	margin-right: 10px;
}

.show-it {
	animation: 1.5s fadeInUp;
	display: block !important;
}

.tv-show-card {
	border: 1px solid #ccc;
	border-radius: 5px;
	margin-top: 20px;
	padding: 10px 20px;
}

@media (min-width: 1200px) {
	.container {
		max-width: 1140px;
	}
}

@keyframes pulse {

	from,
	to {
		scale: 1;
	}

	50% {
		scale: 1.08;
	}
}

@keyframes fadeInUp {
	0% {
		transform: translateY(100%);
		opacity: 0;
	}

	100% {
		transform: translateY(0%);
		opacity: 1;
	}
}